.header{
    background-color: #1C1C1C;
    margin-top: 0px;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
    background-image: linear-gradient(to right,#E0FFFF,#B0E0E6);
    
}

.container{
    height: 80%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    padding-top: 16px;
}

.logo-ipc{
    width: 38%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.logo-ipc img{
    max-width: 100%;
    text-align: left;
    display: inline-block;
    position: relative;
}

.links{
    width: 38%;
    display: inline-block;
    vertical-align: top;
}

.links li{
    display: inline-block;
    margin-right: 32px;
    font-size: 24px;
    font-weight: bolder;
    color: #008080;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.informacoes-textuais{
    width: 38%;
    display: inline-block;
    height: 500px;
    margin-left: 32px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.informacoes-textuais h1{
    margin-top: 256px;
    color: #1C1C1C;
}

.informacoes-textuais p{
    color: #808080;
}

.imagens{
    width: 38%;
    display: inline-block;
    height: 500px;
    text-align: center;
    vertical-align: bottom;
}

.imagens img{
    margin-top: 50px;
    display: inline-block;
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    opacity: 70%;
}